<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03-条件渲染案例</title>
</head>
<body>

<div id="app">
  <div v-if="type==='username'">
    <label for="username">用户账号</label>
    <input type="text" id="username" placeholder="用户账号" key="username">
  </div>
  <div v-if="type==='email'">
    <label for="email">用户邮箱</label>
    <input type="text" id="email" placeholder="用户邮箱" key="email">
  </div>
  <button @click="btnClick">切换类型</button>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      type: 'username'
    },
    methods: {
      btnClick() {
        this.type = this.type === 'username' ? 'email': 'username'
      }
    }
  })
</script>

</body>
</html>